.App {
  font-family: 'Inter', sans-serif;
  background: #FFFFFF;
  padding: 80px;
}

.Content {
  width: 700px;
  height: 640px;
  margin: 0 auto;
  padding: 38px 80px 86px 76px;
  box-sizing: border-box;
}

.Constructor {
  display: flex;
  gap: 56px;
}